<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1X2">
        <picture class="block-showcase__image">
            <source type="Images/webp" srcset="Images/ipad@1x.webp 1x, Images/ipad@2x.webp 2x">
            <source type="Images/png" srcset="Images/ipad@1x.png 1x, Images/ipad@2x.png 2x">
            <img src="/Images/ipad@1x.png" alt="">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#snap"></use>
                            </svg>            
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <P>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quo maiores vero possimus. Nihil eaque nobis vero nam laudantium deleniti.
                        </P>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#growth"></use>
                            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging, Git & WP-CLI</h3>
                        <P>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quo maiores vero possimus. Nihil eaque nobis vero nam laudantium deleniti.
                        </P>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#wordpress"></use>
                            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynamic Caching & More</h3>
                        <P>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quo maiores vero possimus. Nihil eaque nobis vero nam laudantium deleniti.
                        </P>
            </li>
        </ul>
    </div>
</section>
